/* Feuille de style standard XToGen */

/* General */
body { background-color: white; font-size: 0.9em; margin-top: 0; }
a img { border-width: 0; }
html { font-family: Tahoma, Verdana, Helvetica, sans-serif; }
h2 { color: #e8b130; border-bottom: 3px solid #e8b130; }
h3 { color: #e8b130; }
p { text-align: justify; }

/* Mise en page */        
table#layout { margin: 0 auto; width: 720px; }
table#headerlayout { margin: 0 auto; width: 100%; }
td#title { font-size: 250%; color: #196fac; }
td#tdmenu { width: 150px; vertical-align: top; }
.langbar { font-size: 70%; }
td#tdcontent { padding: 5px; width: 100%; }
td.footer { border-top: 1px solid #58a0d3; margin-top: 1em;}

#tdcontent fieldset { padding: 0.5em; }
#tdcontent fieldset form { margin-bottom: 0; }

/* Administration */
table.admintable { border: 1px solid black; border-collapse: collapse ; }
table.admintable td { text-align: center; background-color: white; padding: 4px;
	border: 1px solid black; font-size: small; }
table.admintable td.label { text-align: left; }

/* Recherche */
fieldset#search { text-align: center; font-size: small; border-width: 0;}
fieldset#search form { margin: 0; padding: 0;}
td.nowrap { white-space: nowrap; }
div.hr { border-top: solid 1px black; width: 100%; height: 2px; }
div#exportbar { float: left; }
div#sortbar { text-align: right; width: 100%; }
td.titre { width: 100%; }

/* Affichage */
.headertitle { font-size: 300%; color: #196fac; font-weight: bold; }
.small { font-size: small; }
.attribut { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000000; }
.valeur { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000099; width: 100%; }
.titre{ font-weight: bold; background-color: #efefef; }
.hilite{ background-color: #ff93f4; }

.galerie { border: 1px solid #333; background-color: #ffe; padding-left: 15px; } 
div.vignettegalerie { float: left; width: 130px; height: 130px; padding-bottom: 10px; 
	text-align: center; vertical-align: center; }
div.float { float: left; width: 130px; height: 130px; padding-bottom: 10px; }
div.spacer { clear: both; }

/* Saisie */
.saisie { font-family: Arial, Helvetica, sans-serif; font-size: 12px; color: #000099; }
.commentaire { font-family: Arial, Helvetica, sans-serif; font-size: 9px; font-style: italic;
	color: #4c4b4b; }
.notinlist { font-weight: bold; color: #a30010; }
.warning { color: #ff8e8e; font-style: italic; }

div.fieldgroupheader { background-color: #afafaf; font-size: 12px; font-weight: bold; } 
div.fieldgroupplus { background-color: #afafaf; font-size: 12px; font-weight: bold; text-align: right; }
div.fieldgroup { background-color: #afafaf; display: none; }
fieldset.block { background-color: #e8e8e8; border: 1px dashed grey; }

.defaultlang { background-color: #ededed; }
.tomodify { background-color: #d6f9b8; }
.modified { color: #4ca508; font-style: italic; }
.new { color: #001dc4; font-style: italic; }
.predel { background-color: #ffe2e9; }

span.error { color: #bc2546; }
span.success { color: #3c25bc; }

/* Utilisé pour les urls externes */
a.url { color: #d0dbf4; }
a.url:visited { color: #83a7ef; }
a.url:hover { color: #1f50a5; }

/* Utilisé pour les liens de navigation */
a.nav { color: #81e261; }
a.nav:visited { color: #4ca82d; }
a.nav:hover { color: #2b820e; }

/* Utilisé pour les liens de relation */
a.rel { color: #e1a7ef; }
a.rel:visited { color: #d067ea; }
a.rel:hover { color: #961cb5; }

/* Barre de navigation */
#menubar { border: 1px solid #81e261; background-color: #eaeaea; list-style-type: none; padding: 0; margin: 0;}
#menubar li { text-align: center; width: 100%; }
#menubar li fieldset { padding: 0; border: 0; margin: 0;}
#menubar li fieldset legend { padding: 0 0.5em; }
#menubar li a { text-decoration: none; display: block; color: #81e261; width: 100%; }
#menubar li a:link, table.bar a:visited {  }
#menubar li a:hover, table.bar a:active { background-color: #bde3b0; color: #aaa;  }
#menubar li form { margin: 0 0.1em 0.2em; }
